@if(this.api.isLoggedIn()){
  <select class="form-select mt-3" aria-label="Exercise filter" (change)="onExerciseFilterChange($event)">
    <option value="all" [selected]="!ownExercises">All exercises</option>
    <option value="own" [selected]="ownExercises">Own exercises</option>
  </select>
  
  <p>
    <button #addExerciseToggle class="btn mt-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" (click)="addMode()">
      @if(addModeBool){
        Cancel
      }@else{
        Add Exercise
      }
    </button>
  </p>
  <div>
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 70%;">
        
        <form [formGroup]="exerciseForm" (ngSubmit)="addExercise(exerciseForm.value)">
          <div class="mb-3">
            <label class="form-label" for="exerciseName">Exercise name</label>
            <input type="text" class="form-control" id="exerciseName" placeholder="Enter exercise name" formControlName="name">
          </div>

          <div class="mb-3">
            <label class="form-label" for="exerciseName">Exercise Category</label> 
            <select class="form-select" aria-label="Default select example" formControlName="category">

              <option value="">Select a category</option>

              @for(category of categories; track category.id){
                <option [value]="category.name">{{category.name}}</option>
              }

            </select>

          </div>

          <div class="mb-3">
            <label class="form-label" for="exerciseDescription">Description</label>
            <input type="text" class="form-control" id="exerciseDescription" placeholder="Enter exercise description" formControlName="description">
          </div>

          <button type="submit" class="btn">Add</button>

        </form>

      </div>
    </div>
  </div>
}

<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
@for(exercise of exercises; track exercise.id){
    <div class="col">
      <div class="card h-100">
        @if(exercise.category_id == 1){
          <img src="chest.png" class="card-img-top img" alt="chest">
        }
        @if(exercise.category_id == 2){
          <img src="back.png" class="card-img-top img" alt="back">
        }
        @if(exercise.category_id == 3){
          <img src="legs.png" class="card-img-top img" alt="legs">
        }
        @if(exercise.category_id == 4){
          <img src="shoulder.png" class="card-img-top img" alt="shoulder">
        }
        @if(exercise.category_id == 5){
          <img src="arms.png" class="card-img-top img" alt="arms">
        }
        @if(exercise.category_id == 6){
          <img src="abs.png" class="card-img-top img" alt="abs">
        }
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title">{{exercise.name}}</h5>
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
           @if(this.api.isLoggedIn()){
            <button class="btn btnsecondary mb-3" [routerLink]="['/aboutexercise', exercise.id]">Log Exercise</button>
            @if(!isOwnExercise(exercise.id)){
              <button class="btn btnsecondary" (click)="addOwnExercise({ exercise_id: exercise.id })">Add to Own Exercises</button>
            }
           }@else{
            <button class="btn btnsecondary" [routerLink]="['/user']">Log In to Log Exercise</button>
           }
        </div>
      </div>
    </div>
}
</div>