/* You can add global styles to this file, and also import other style files */

:root{
    --background: #d3d9df;
    --primary : #2563EB;
    --secondary : #64748B;
    --text : #1E293B;
}

html,
body {
    min-height: 100%;
    margin: 0;
    background-color: var(--background) !important;
}

